.viewPost__container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.viewPost__description {
  padding: 5px;
  margin: 10px;
  width: 65%;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imagenes__container {
  padding: 5px;
  margin: 10px;
  width: 65%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
}

.viewPost__title {
  display: flex;
}

.viewPost__button__container {
  padding: 5px;
  height: 100px;
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete__button {
  border-radius: 7%;
  width: 100px;
  height: 30px;
  background-color: #39dc73;
  color: #1d3d3f;
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: #1d3d3f;
}

.delete__button:hover {
  color: white;
  opacity: 1;
}

.start__label {
  color: #1d3d3f;
}

.date__input {
  position: relative;
  width: 1000px;
  height: 30px;
  display: flex;
  align-content: center;
  margin-top: 1%;
}

@media only screen and (max-width: 700px) {
  .imagenes__container img {
    position: relative;
    width: 185px;
  }
}
