.postList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.select__container {
  padding: 5px;
  margin-top: 15px;
  height: 100px;
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.select__button {
  border-radius: 7%;
  width: 100px;
  height: 30px;
  background: #39dc73;
  color: #1d3d3f;
  display: flex;
  margin-top: 5%;
  border-width: 2px;
  border-color: #1d3d3f;
}

img {
  max-height: 100px;
}

.postList__container {
  padding: 5px;
  margin: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
  border: 4px solid #1d3d3f;
  border-radius: 5px;
}
/* @media only screen and (max-width: 500px) {
  .postList__container img{
display: none;
  }
} */

.postList__title {
  color: #1d3d3f;
}

.postList__picture__container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
}

@media only screen and (max-width: 500px) {
  .postList__picture__container img {
    width: 100px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 300px) {
  .postList__picture__container img {
    display: none;
  }
}

.postList__text__container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1300px) {
  .postList__text__container {
    position: relative;
    margin: auto;
  }
}
@media only screen and (max-width: 700px) {
  .postList__text__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50%;
  }
}

.postList__title {
  text-align: center;
  display: flex;
  align-items: left;
}

.postList__detail__button__container {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  margin-left: 50%;
}

.postList__detail__button {
  cursor: pointer;
  margin: auto;
  background: #39dc73;
  color: #1d3d3f;
  font-size: 1em;
  font-weight: 400;
  border-width: 2px;
  border-color: #1d3d3f;
  border-radius: 3px;
  padding: 15px 30px;
}

.postList__detail__button:hover {
  color: white;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .postList__detail__button__container {
    display: flex !important;
    flex-direction: column !important;
    position: relative;
    margin-left: 50%;
  }
}
@media only screen and (max-width: 470px) {
  .postList__detail__button {
    display: flex !important;
    flex-direction: column !important;
  }
}

.paging__container {
  padding: 5px;
  margin: 10px;
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
  margin-top: 5%;
}

.paging__box {
  border-color: #1d3d3f;
  border-radius: 3px;
  padding: 5px;
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: center;
  border: 4px solid #1d3d3f;
  border-radius: 5px;
}
