.header__title {
margin: none;
height: 200px;
width: 100%;
background-image: url(https://f.hubspotusercontent20.net/hub/486579/Avast-Hygene-Mac-vs-PC-for-Small-Businesses-Header-V1.jpg?width=900); 
/* background-color: rgb(179, 179, 235); */
display: flex;
align-items: center;
text-align: center;
justify-content: center;
font-size: 30px;
color: green;
}

.header__image {
    height: 150px;
    width: 100%;
}
